@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&display=swap');

:root {
--color1: #2F1C6A;
--color2: #6842FF;
--color3:#FFFFFF;
--color4: #575657;
--color5: #4D2FC3;
--color6: #f4f1f8;
--fuente: "DM Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fuente);
  color: var(--color1);
  padding: 2rem 1.5rem 0;
  max-width: 480px;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color6);
}

.container-header {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

.ilustracion {
  width: 100%;
  margin: auto;
}

.texto-header {
  width: 100%;
  max-width: 220px;
  margin: auto;
}

main {
  flex-grow: 1;
}

.intro {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.6;
  margin: 2rem 0;
}

.botones {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  margin: 0rem 3rem;
  max-width: 100vw;
  margin: auto;
}

.boton-link {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem 1.5rem;
  background-color: var(--color2);
  border-radius: 8px;
  text-decoration: none;
  color: var(--color3);
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.boton-link:hover {
  background-color: var(--color5);
}

.boton-link .icono {
  width: 24px;
  height: 24px;
}

.frase {
  font-style: italic;
  color: var(--color1);
  margin: 1rem 0rem;
  font-weight: 600;
  text-align: center;
}

.br-salto {
  display: inline;
}

footer {
  background-color: var(--color5);
  color: var(--color3);
  width: 100vw;
  margin-left: calc((100vw - 100%) / -2); /* Asegura borde a borde sin romper el centrado */
  padding: 0 1.5rem;
  text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    max-width: 480px;
    margin: 0 auto;
}

.logo-footer {
  width: 50px;
  height: auto;
}

.container-texto p {
  font-size: 0.6rem ;
}

@media (min-width: 768px) {

.container-header {
  justify-content: space-between;
}

.intro {
  font-size: 1.1rem;
  margin-top: 2rem;
}

.boton-link {
  gap: 2rem;
}

.boton-link .icono {
  width: 30px;
  height: 30px;
}

.boton-link .texto-boton {
font-size: 1.2rem;
}

.frase {
  font-style: italic;
  color: var(--color1);
  margin: 1.5rem 0rem;
  font-weight: 600;
  text-align: center;
  font-size: 1.2rem;
}

.br-salto {
    display: none;
}

.container-texto p {
  font-size: 0.8rem ;
}

}
